  /* body {
    background:lightblue
  } */
  .form-control {
    border-radius:20px;
  }
  .bg-booked {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height:100vh;
  }
  .dash-bg {
    
    background: #3D7EAA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: cover;
  }
  .book-bg {
    background-color: #af8c9d;
  background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
  }
  .bg-table {
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:100vh;
  }
  .img-resize{
    width:30rem;
  }